
# database config
DATABASE_URL="mysql://user:userpassword@localhost:port/yourdatabase"
DATABASE_PORT=3306
DATABASE_HOST="localhost"
DATABASE_NAME="yourdatabase"
DATABASE_USER="user"
DATABASE_PASSWORD="password"

BCRYPT_SALT=10
ENCRYPTION_PASSWORD="your encryption key"
# validity duration of code in minute
CODE_DURATION=15

#mail config
MAIL_MAILER="maildev"
MAIL_HOST="127.0.0.1"
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS="user@example.com"

FALLBACK_LANGUAGE="en"